 header {height: 300px ; width: 100%; background: lightgray  }
            center{ height: 600px ; width: 100% ; background: gray}
            footer{height: 300px; width: 100%  ; background: lightgray}
             page{display: block ; height: 50% ; width: 100% ; background: green}
            news{display: block ; height: 50% ; width: 100% ; background: yellow}
            div{height: 33.33% ; width: 100%; background: red; float:left  }